---
import LayoutNav from "../../layouts/Layout-nav.astro";
import { getCollection } from "astro:content";

const formatDate = (date: Date) =>
  new Intl.DateTimeFormat("es-ES", {
    day: "2-digit",
    month: "long",
    year: "numeric",
  }).format(new Date(date));

const portafolios = await getCollection("portafolio");
---

<LayoutNav
  title="Portafolio | Nils Pineda - Proyectos Destacados"
  description="Explora mi portafolio de diseño y desarrollo web. Descubre cómo he ayudado a marcas a destacar con soluciones digitales personalizadas."
>
  <section
    class="flex flex-col lg:flex-row justify-center items-center px-6 lg:px-40 lg:py-20"
  >
    <h1
      class="text-white text-4xl md:text-6xl lg:text-7xl mt-4 font-medium text-center"
    >
      Algunos de mis <br />
      <span class="text-primary-400 font-bold">Trabajos realizados</span>
    </h1>
  </section>

  <section class="px-6 lg:px-40 py-12">
    <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
      {
        portafolios.map((portafolio) => (
          <a
            href={`/portafolio/${portafolio.slug}`}
            class="group block rounded-2xl overflow-hidden bg-white/5 border border-white/10 hover:border-white/20 hover:-translate-y-1 transition-all duration-300"
          >
            {/* Imagen */}
            <div class="h-48 w-full overflow-hidden">
              <img
                src={portafolio.data.image}
                alt={portafolio.data.title}
                class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
              />
            </div>

            {/* Contenido */}
            <div class="p-6 text-center">
              <h2 class="text-white text-xl font-semibold mb-1">
                {portafolio.data.title}
              </h2>

              <p class="text-gray-400 text-sm mb-3">
                {formatDate(portafolio.data.date)}
              </p>

              <div class="flex flex-wrap justify-center gap-2 mt-3">
                {portafolio.data.tags?.map((tag) => (
                  <span class="bg-primary-300 text-black text-xs px-3 py-1 rounded-full">
                    {tag}
                  </span>
                ))}
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</LayoutNav>
