---
import LayoutNav from "../layouts/Layout-nav.astro";
const titlePage = "Sobre Mi";

const experiencia = [
  {
    titulo: "Implementador MID Web",
    empresa: "Orbidi SAS",
    ubicacion: "Cali, CO | Remoto",
    fecha: "2025 - Marzo 2026",
    descripcion:
      "Desarrollo y mantenimiento integral de sitios web para clientes, implementando diseños responsive basados en Figma y optimizando rendimiento y experiencia de usuario para garantizar soluciones digitales efectivas. Administración de servidores WHM y cPanel, con gestión de configuraciones y despliegues seguros. Análisis de requerimientos técnicos y funcionales, transformando necesidades en proyectos claros y escalables que fortalecen la identidad de marca y mejoran la interacción con el usuario.",
    link: "https://orbidi.com/",
  },
  {
    titulo: "Implementador Web",
    empresa: "Webbo",
    ubicacion: "Bogota, CO | Remoto",
    fecha: "2023",
    descripcion:
      "Responsable del desarrollo y mantenimiento de sitios web para diversos clientes, asegurando soluciones digitales estables y de alto rendimiento. Implementación de diseños responsive a partir de Figma, optimizando la experiencia de usuario en múltiples dispositivos. Administración de servidores WHM y cPanel, con gestión eficiente de configuraciones y despliegues seguros. Análisis detallado de requerimientos técnicos y funcionales, convirtiendo necesidades en proyectos escalables que fortalecen la identidad de marca y mejoran la interacción digital",
    link: "https://webbo.com.co/",
  },
  {
    titulo: "Product designer",
    empresa: "Netdata Networks",
    ubicacion: "Bogota, CO | Remoto",
    fecha: "2023 - 2025",
    descripcion:
      "Encargado del diseño y la implementación de soluciones visuales estratégicas, incluyendo animación, edición de videos y gestión de identidad de marca. Responsable de garantizar la coherencia visual y la experiencia de usuario en proyectos digitales, actuando como guardián de la marca y asegurando que cada pieza creativa fortaleciera la comunicación y el posicionamiento de la empresa.",
    link: "https://netdatanetworks.com/",
  },
  {
    titulo: "Diseñador Gráfico",
    empresa: "Webketing | RevOps",
    ubicacion: "Santiago, CHL | Remoto",
    fecha: "2022-2023",
    descripcion:
      "Diseñador responsable de la creación e implementación de soluciones visuales estratégicas para múltiples clientes, abarcando animación, edición de videos y gestión integral de identidad de marca. Garantizó la coherencia visual y la optimización de la experiencia de usuario en proyectos digitales, desempeñándose como guardián de la marca y asegurando que cada pieza creativa potenciara la comunicación y el posicionamiento de las empresas atendidas.",
    link: "https://www.revopslatam.com/",
  },
  {
    titulo: "Diseñador Gráfico | Implementador Web | Motion Graphic",
    empresa: "Ackagames",
    ubicacion: "Bucaramanga, CO",
    fecha: "2021 - 2022",
    descripcion:
      "Responsable de l diseño y desarrollo de sitios web, creación de animaciones y producción de piezas gráficas para redes sociales y campañas de marketing. Encargado de implementar soluciones visuales dinámicas que fortalecieron la identidad digital de la empresa y mejoraron la interacción con su audiencia. Contribuí a la coherencia de la marca mediante motion graphics y contenidos multimedia que potenciaron la comunicación y el alcance de los proyectos.",
    link: "https://www.linkedin.com/company/ackagames/?originalSubdomain=co",
  },
  {
    titulo: "Diseñador Gráfico | Implementador Web",
    empresa: "Concepto Digital",
    ubicacion: "Bucaramanga, CO",
    fecha: "2021 - 2022",
    descripcion:
      "Responsable de la comunicación directa con clientes para levantar requerimientos y transformar sus necesidades en soluciones digitales efectivas. Encargado de la implementación y administración de servidores de la compañía, asegurando estabilidad y seguridad en los proyectos. Lideré el área de diseño gráfico y edición de video, garantizando coherencia visual y fortaleciendo la identidad de marca en cada pieza desarrollada",
    link: "https://conceptodigital.com.co/",
  },
  {
    titulo: "Diseñador Gráfico | Implementador Web | Grabaciones & Eventos",
    empresa: "Ganasal",
    ubicacion: "Bucaramanga, CO",
    fecha: "2014 - 2019",
    descripcion:
      "Responsable del desarrollo y mantenimiento de sitios web corporativos y para clientes, implementando diseños responsive y optimizando rendimiento y experiencia de usuario. Encargado de la administración de redes sociales y plataformas digitales, incluyendo la gestión de una academia de aprendizaje online. Realicé grabación y edición de material audiovisual para campañas internas y externas, asegurando coherencia visual y fortaleciendo la comunicación de la marca en múltiples canales.",
    link: "https://ganasal.com/",
  },
];
---

<LayoutNav
  class="bg-[radial-gradient(125%_125%_at_50%_10%,#131a22_60%,#2ab092_150%)] h-min-screen"
  title={titlePage}
>
  <section
    class="flex flex-col lg:flex-row justify-center items-center px-6 lg:px-40 lg:py-20"
  >
    <h1
      class="text-white text-4xl md:text-6xl lg:text-7xl mt-4 font-medium text-center"
    >
      {titlePage}
    </h1>
  </section>

  <section
    class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-center gap-10 px-6 py-12"
  >
    <div class="flex-2">
      <h3 class="text-primary-400 text-5xl mb-4">¡Hola Soy Nils Pineda!</h3>
      <p class="text-white text-xl">
        Diseñador gráfico y desarrollador web <span
          class="text-primary-400 text-3xl"
          >apasionado por crear experiencias visuales atractivas y funcionales.</span
        > Con una sólida trayectoria en diseño y desarrollo web, mi enfoque se centra
        en la innovación, la colaboración y la superación de expectativas. Soy un
        profesional autodidacta, siempre en busca de nuevas tendencias y tecnologías
        para ofrecer soluciones creativas y de vanguardia. Mi mentalidad emprendedora
        y mi atención al detalle me permiten entregar proyectos de alta calidad que
        impulsan el éxito de mis clientes.
      </p>
    </div>
    <div class="flex-1 flex justify-center">
      <img
        src="nils.webp"
        class="w-96 drop-shadow-2xl rounded-lg"
        alt="Nils Pineda"
      />
    </div>
  </section>

  <section class="max-w-7xl mx-auto px-6 pt-10 pb-20">
    <h2 class="text-white text-4xl md:text-6xl font-medium text-center mb-16">
      Experiencia laboral
    </h2>

    <div
      class="relative border-l-2 border-primary-400/20 ml-4 md:ml-10 space-y-12"
    >
      <!-- Item: Orbidi SAS -->
      <div class="relative pl-8 md:pl-12">
        <!-- Dot -->
        <div
          class="absolute -left-[9px] top-0 w-8 h-8 rounded-full bg-primary-400 shadow-[0_0_10px_2px_rgba(42,176,146,0.3)]"
        >
        </div>
        {
          experiencia.map((item) => (
            <div class="flex flex-col md:flex-row gap-6 md:gap-10 items-center mb-10">
              <div class="md:w-1/3">
                <span class="text-primary-400 font-mono text-lg font-bold">
                  {item.fecha}
                </span>
                <h3 class="text-white text-3xl font-bold mt-2">
                  {item.titulo}
                </h3>
                <p class="text-gray-400 text-xl mt-1 uppercase font-bold">
                  <a
                    href={item.link}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:text-primary-400 transition-all duration-400"
                  >
                    {item.empresa}
                  </a>
                </p>
              </div>

              <div class="md:w-full p-8 rounded-xl bg-gradient-to-br from-white/5 to-transparent border border-white/10 hover:border-primary-400/30 transition-all duration-300 hover:shadow-lg hover:shadow-primary-400/5">
                <p class="text-gray-300 text-xl leading-relaxed">
                  {item.descripcion}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</LayoutNav>
