---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "@fontsource-variable/dm-sans";
import BotonesFlotantes from "../components/BotonesFlotantes.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = "Nils Pineda | Diseño Web Profesional y Soluciones Digitales",
  description = "Transformamos ideas en experiencias digitales que conectan con tu audiencia. Con diseño y desarrollo a tu medida, damos vida a tu marca.",
  image = "/logonils.jpg",
} = Astro.props;

// URL canónica segura
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// Imagen absoluta segura (soporta relativas y absolutas)
let imageURL;

try {
  imageURL = image?.startsWith("http")
    ? image
    : new URL(image, Astro.site).toString();
} catch {
  imageURL = new URL("/logonils.jpg", Astro.site).toString();
}
---

<!doctype html>
<html lang="es">
  <head>
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imageURL} />

    <!-- X (Twitter) -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={imageURL} />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/jpg" href="/favicon.jpg" />
  </head>

  <body
    class="min-h-screen bg-fixed bg-[radial-gradient(125%_125%_at_50%_10%,#131a22_60%,#2ab092_150%)]"
  >
    <Navbar />
    <BotonesFlotantes />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
